.ul-shirts{
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    /* border: teal solid 5px; */
}
 .shirt-box{
    /* height: 300px;
    width: 200px; */
    /* border: black 3px solid; */
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    list-style: none;
 }  

 .link{
     text-decoration: none;
     color: black;
 }

 .link:hover{
     color: goldenrod;
 }
 .card-subtitle{
     color: rgb(48, 47, 47);
 }

 .shirt-box:hover{
     box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
 }
/* .Shirts{
    border: blue solid 7px;
} */