/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */



nav{
  padding-right: 25px;
}

nav a {
  /* display: flex; */
  /* justify-content: space-around; */
  /* background-color: goldenrod; */
  text-decoration: none;
  color: lightgrey;
  margin: 25px;
}

nav a:hover{
  color: rgba(255, 217, 0, 0.705);
}

h2{
  padding: 25px;
}

nav button {
  /* margin: 20px; */
  /* padding: 0;
  font-size: x-large;
  font-weight: bold;
  height: 50px;
  width: 200px;
  align-self: center; */
}

main {
  /* border: chartreuse solid 1px;;
  margin: 0 10px; */
}

form {
  padding: 2%; 
  width: 500px;
  /* display: flex;
  flex-direction: column; */
  /* align-self: space-between; */
  /* border: coral solid 1px; */
}

form input{
  width: 60%;
 /* height: 20px; */
  /* margin: 2px */
}

form button {
  width: 100px;
  /* margin: auto; */
}

.item{
  margin-bottom: 15px;
}

.price{
  margin-bottom: 15px;
}

.color{
  margin-bottom: 15px;
}

.size{
  margin-bottom: 15px;
}

.type_of{
  margin-bottom: 10px;
}

.edit_size{
  margin-bottom: 10px;
}

.edit_color{
  margin-bottom: 10px;
}

.edit_price{
  margin-bottom: 15px;
}



/* SEE BELOW FOR CSS RESET */
/* html, body, header, nav, h1, a,
ul, ol, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
} */
