nav{
  padding-right: 25px;
}

nav a {
  text-decoration: none;
  color: lightgrey;
  margin: 25px;
}

nav a:hover{
  color: rgba(255, 217, 0, 0.705);
}

h2 {
  padding: 25px;
  text-align: center;
}

main {
  text-align: center;
}

.form-check{
  text-align: left;
}

form {
  padding: 2%; 
  width: 500px;
}

form input{
  width: 60%;
}

form button {
  width: 100px;
}

.New-Form, .Login-Form, .New-User-Form {
  margin: auto;
}

.size, .edit_price, .color, .price, .item {
  margin-bottom: 15px;
}

.type_of, .edit_size, .edit_color{
  margin-bottom: 10px;
}

/* SEE BELOW FOR CSS RESET */
/* html, body, header, nav, h1, a,
ul, ol, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
} */
